body{
    padding: 0;
    margin: 0;
    background: -moz-linear-gradient(left, rgba(220,20,20,0.9) 0%, rgba(100,10,10,1) 100%);
    background: -webkit-linear-gradient(left, rgba(220,20,20,0.9) 0%,rgba(100,10,10,1) 100%);
    background: linear-gradient(to right, rgba(220,20,20,0.9) 0%,rgba(100,10,10,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6dc1414', endColorstr='#640a0a',GradientType=1 );
}

.row{
    margin: 0;
}


.motus{
    background-color: rgb(158,197,226);
}

input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: white;
    font-size: 40px;
    text-shadow: #000 2px 0 15px;    
    font-weight: 500;
    text-align: center;
    border: none;
    text-transform: uppercase;
}

.words div{
    height: 50px;
    width: 50px;
    margin: 1px;
    background: rgb(158,197,226);
    background: -moz-linear-gradient(top, rgba(158,197,226,1) 0%, rgba(8,50,147,1) 100%);
    background: -webkit-linear-gradient(top, rgba(158,197,226,1) 0%,rgba(8,50,147,1) 100%);
    background: linear-gradient(to bottom, rgba(158,197,226,1) 0%,rgba(8,50,147,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ec5e2', endColorstr='#083293',GradientType=0 );
}


.words #enter{
    background: rgba(220,20,20,0.9) !important;
    position: absolute;
    top: 50px;
    color: white;
    height: auto !important;
    width: auto !important;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 22px;    
    font-weight: 500;
    cursor: pointer;
}

.words #enter:hover{
    color: rgba(220,20,20,0.9);
    background: white !important;
}

.good{
    background: rgb(214, 161, 159) !important;
    background: -moz-linear-gradient(-45deg, rgba(234,166,164,1) 1%, rgba(255,15,7,1) 100%) !important;
    background: -webkit-linear-gradient(-45deg, rgba(234,166,164,1) 1%,rgba(255,15,7,1) 100%) !important;
    background: linear-gradient(135deg, rgba(234,166,164,1) 1%,rgba(255,15,7,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaa6a4', endColorstr='#ff0f07',GradientType=1 );
}


.presque{
    background: rgb(252,234,187) !important;
    background: -moz-linear-gradient(-45deg, rgba(252,234,187,1) 1%, rgba(252,205,77,1) 22%, rgba(248,181,0,1) 100%, rgba(251,223,147,1) 100%, rgba(248,181,0,1) 100%, rgba(248,181,0,1) 100%) !important;
    background: -webkit-linear-gradient(-45deg, rgba(252,234,187,1) 1%,rgba(252,205,77,1) 22%,rgba(248,181,0,1) 100%,rgba(251,223,147,1) 100%,rgba(248,181,0,1) 100%,rgba(248,181,0,1) 100%) !important;
    background: linear-gradient(135deg, rgba(252,234,187,1) 1%,rgba(252,205,77,1) 22%,rgba(248,181,0,1) 100%,rgba(251,223,147,1) 100%,rgba(248,181,0,1) 100%,rgba(248,181,0,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#f8b500',GradientType=1 );
    border-radius: 50%;
}

#start{
    border-radius: 50%;
    padding: 15px 12px;
    font-weight: bold;
    background: rgb(252,243,161);
    background: -moz-linear-gradient(left, rgba(252,243,161,1) 0%, rgba(255,255,50,1) 100%);
    background: -webkit-linear-gradient(left, rgba(252,243,161,1) 0%,rgba(255,255,50,1) 100%);
    background: linear-gradient(to right, rgba(252,243,161,1) 0%,rgba(255,255,50,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf3a1', endColorstr='#ffff32',GradientType=1 );
}
#start:hover{
    cursor: pointer;
    border: 5px solid rgba(255,255,50,.6);
}

.container img{
    width: 60%;
}

#gif_win,#gif_lose{
    width: 50%;
}

button a:hover{
    cursor: pointer;
    text-decoration: none;
}

button a{
    color: black;
    text-decoration: none;
}

@media screen and (max-width:767px){
    #gif_win,#gif_lose{
        width: 90%;
    }
}